:root {
    --lightblue: #b4d0e7;
    --blue: #0061ff;
    --bordeaux: #61082b;
    --grey: #637381;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************************************
* TAG selectors
************************************************/

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

nav {
    border-bottom: 1px solid lightgrey;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    max-height: 70px;
    z-index: 99;
}

h1 {
    font-size: 77px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 16px;
}

h3, h4, h5 {
    padding-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
}

header {
    background-color: var(--lightblue);
    position: relative;
    top: 70px;
}

header nav ul {
    display: inline-block;
    list-style: none;
    padding: 15px 0;
}
header nav ul:nth-child(2) {
    float: right;
    padding-right: 20px;
}
header nav ul li {
    float: left;
    padding: 7px 20px;
}
header nav ul:nth-child(2) li:last-child {
    background-color: var(--blue);
}

header img {
    width: 100%;
}

header h1 {
    padding: 60px 0 40px 0;
}

.arrow-down {
    font-size: 40px;
}

.row .col_3_9 {
    padding-left: 20px;
    padding-right: 20px;
}

.container section .row {
    margin-left: -20px;
    margin-right: -20px;
}

.price-list ul {
    list-style: none;
}

.price-list ul li::before {
    content: "\2713";
    color: var(--blue);
    margin-left: -20px;
    margin-right: 8px;
}

.price-list > div:nth-child(2) > div:last-child > ul {
    padding-left: 20px;
}

.row .price-list a:last-child {
    color: var(--blue);
    text-decoration: underline;
}

.price-list, .price-list > div:first-child {
    border-bottom: 1px solid lightgrey;
}

.price-list {
    border: 1px solid lightgrey;
    min-height: 1000px;
}

.price-list > div:first-child {
    text-align: center;
    padding: 5px 0;
}

.price-list > div:nth-child(2) {
    padding: 30px;
}

hr {
    width: 20%;
    color: lightgrey;
}

.column-4 > .price-list {
    min-height: 0;
    position: relative;
}

.column-4 > .price-list a {
    min-height: 0;
    position: absolute;
    top: 60px;
    right: 30px;
}

.img-partner {
    width: 100%;
}

.col_4_9 > div, .col_5_9 > div {
    padding: 20px;
}

.feature-container img {
    width: 100%;
}

.partner-container {
    width: 100vw;
}

.bottom-partner {
    background-color: var(--lightblue);
}

.bottom-partner > div {
    position: relative;
    padding: 50px 0;
}

.bottom-partner > div > a {
    position: absolute;
    top: 50px;
    right: 0;
}

.bottom-partner h3 {
    color: #742141;
}

.partner-container > .middle {
    width: 40%;
    float: left;
}

.partner-container > .left, .right {
    width: 30%;
    float: left;
}

.partner-container::after, .left::after, .right::after {
    content: "";
    display: table;
    clear: both;
}

.square {
    width: 50%;
    height: calc(30vw / 2);
    float: left;
    position: relative;
}

.square img {
    width: 60%;
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.left .square:nth-child(1) {
    background-color: #ABD7A5;
}

.left .square:nth-child(2) {
    background-color: #7F3753;
}

.left .square:nth-child(3) {
    background-color: #199ED3;
}

.left .square:nth-child(4) {
    background-color: #FF4747;
}

.right .square:nth-child(1) {
    background-color: #DD3049;
}

.right .square:nth-child(2) {
    background-color: #BBD5E9;
}

.right .square:nth-child(3) {
    background-color: #3B4E99;
}

.right .square:nth-child(4) {
    background-color: #FFDC45;
}

.middle {
    padding: 30px;
    background-color: #f7f7f7;
    height: 30vw;
}

.middle img {
    width: 30%;
}

.accordion-container {
    list-style: none;
}

.accordion-item {
    border-bottom: 1px solid lightgrey;
    position: relative;
    padding-right: 60px;
}

.accordion-item h5 {
    font-weight: bold;
    padding: 20px 0;
}

.accordion-item-content {
    padding-bottom: 20px;
    display: none;
}

.accordion-item:focus .accordion-item-content {
    display: block;
}

.accordion-item-icon {
    position: absolute;
    right: 20px;
    transform: rotateZ(0deg);
    transition: transform .3s;
}

.accordion-item:focus .accordion-item-icon {
    transform: rotateZ(180deg);
}


/************************************************
* Layout classes
************************************************/

.container-large {
    max-width: 1367px;
    width: 100%;
    margin: auto; 
}
  
.container {
    max-width: 1010px;
    width: 100%;
    margin: auto;
    padding-top: 150px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
[class*="col_"] {
    float: left;
}
  
.col_1_9 {
    width: calc(100% / 9);
}
  
.col_2_9 {
    width: calc(100% / 9 * 2);
}
  
.col_3_9 {
    width: calc(100% / 9 * 3);
}
  
.col_4_9 {
    width: calc(100% / 9 * 4);
}
  
.col_5_9 {
    width: calc(100% / 9 * 5);
}
  
.col_6_9 {
    width: calc(100% / 9 * 6);
}


/************************************************
* Utility classes
************************************************/

.small-text {
    font-size: 14px;
}

.btn {
    border: none;
    padding: 5px 20px;
}

.btn-blue {
    background-color: var(--blue);
}

.btn-border {
    border: 1px solid black;
    color: black;
}

.btn-white {
    background-color: white;
    padding: 3px 30px;
    border: none;
}

.pd-top-bot-12 {
    padding: 12px 0;
}

.text-grey {
    color: var(--grey);
}

.pd-top-30 {
    padding-top: 30px;
}

.pd-top-50 {
    padding-top: 50px;
}

.pd-bot-20 {
    padding-bottom: 20px;
}

.pd-bot-40 {
    padding-bottom: 40px;
}

.pd-bot-50 {
    padding-bottom: 50px;
}

.pd-bot-100 {
    padding-bottom: 100px;
}

.text-underline {
    text-decoration: underline;
}

.link {
    color: var(--blue);
}