:root {
    --lightblue: #b4d0e7;
    --blue: #0061ff;
    --bordeaux: #61082b;
    --grey: #637381;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************************************
* TAG selectors
************************************************/

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

nav {
    border-bottom: 2px solid lightgrey;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    max-height: 70px;
}

h1 {
    font-size: 77px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header {
    background-color: var(--lightblue);
    position: relative;
    top: 70px;
}

header nav ul {
    display: inline-block;
    list-style: none;
    padding: 15px 0;
}
header nav ul:nth-child(2) {
    text-align: right;
}
header nav ul li {
    float: left;
    padding: 15px 20px;
}
header nav ul:nth-child(2) li:last-child {
    background-color: var(--blue);
}

header img {
    width: 100%;
}

header .container-large .col_3_9 p:nth-child(1) {
    padding-bottom: 25px;
}

header .container-large .col_3_9 p:nth-child(2) {
    padding-top: 15px;
}

header h1 {
    padding: 60px 0 40px 0;
}

.arrow-down {
    font-size: 40px;
}

.price-list ul {
    list-style: none;
}

.price-list ul li::before {
    content: "\2713";
    color: var(--blue);
}

.price-list a:last-child {
    color: var(--blue);
    text-decoration: underline;
}

/************************************************
* Layout classes
************************************************/

.container-large {
    max-width: 1367px;
    width: 100%;
    margin: auto;
}
  
.container {
    max-width: 1010px;
    width: 100%;
    margin: auto;
    padding: 150px 0;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
[class*="col_"] {
    float: left;
}
  
.col_1_9 {
    width: calc(100% / 9);
}
  
.col_2_9 {
    width: calc(100% / 9 * 2);
}
  
.col_3_9 {
    width: calc(100% / 9 * 3);
}
  
.col_4_9 {
    width: calc(100% / 9 * 4);
}
  
.col_5_9 {
    width: calc(100% / 9 * 5);
}
  
.col_6_9 {
    width: calc(100% / 9 * 6);
}


/************************************************
* Utility classes
************************************************/

.small-text {
    font-size: 14px;
}

.btn {
    border: none;
    padding: 5px 20px;
}

.btn-blue {
    background-color: var(--blue);
}